.example-spacer {
    flex: 1 1 auto;
}

.custom_navbar {
    background: #333;
    font-size: 14px;
    font-weight: 300;
    color: #b4bcc8;
    font-family: "Open Sans",sans-serif;

}

.icono {
    height: 50px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}
