<mat-toolbar class="custom_navbar">
  <mat-toolbar-row>
    <span>
      <a routerLink="/dashboard">
        <img src="../../../assets/favicon.ico" class="icono">
      </a>
      <b> ADMIN COOP</b>
    </span>

    <button mat-button [matMenuTriggerFor]="abm">
      <mat-icon>edit</mat-icon> Administrar
    </button>
    <mat-menu #abm="matMenu">
      <button mat-menu-item routerLink="/informantes">Tipos de Productos</button>
      <button mat-menu-item routerLink="/usuarios">Usuarios</button>
    </mat-menu>
    <button mat-button routerLink="/revision-de-precios-captados">
      <mat-icon>playlist_add_check</mat-icon> Materiales
    </button>
    <mat-menu #revision="matMenu">
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="monitoreo">
      <mat-icon>bar_chart</mat-icon>Compras
    </button>
    <mat-menu #monitoreo="matMenu">
    </mat-menu>
    <button mat-button routerLink="/revision-de-precios-captados">
      <mat-icon>person_add</mat-icon> Ventas
    </button>
    <button mat-button routerLink="/hoja-de-ruta">
      <mat-icon>chat_bubble_outline</mat-icon> Producción
    </button>
    <button mat-button  routerLink="/hoja-de-ruta">
      <mat-icon>view_agenda</mat-icon> Gastos
    </button>
    <button mat-button  routerLink="/hoja-de-ruta">
      <mat-icon>view_agenda</mat-icon> Personas
    </button>
    <button mat-button  routerLink="/asignaciones">
      <mat-icon>view_agenda</mat-icon> Cuentas Corrientes
    </button>
    <span class="example-spacer"></span>
    <button mat-button item-end [matMenuTriggerFor]="login">
      <mat-icon>perm_identity</mat-icon>{{usuario.name}} {{usuario.lastname}} (<b>{{usuario.type_description}}</b>)
    </button>
    <mat-menu #login="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
