table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
  .example-spacer {
    flex: 1 1 auto;
}

.margin-10 {
  margin-right: 10px;
  margin-left: 13px;
}

