<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="matSpinner" class="efecto"></mat-progress-bar>
<mat-card>
  <div class="example-button-row">
    <div class="row">
      <h4 class="margin-10">Listado de Productos</h4>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" class="margin-10" (click)="openDialog()">Nuevo Producto</button>
    </div>

  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Precio Column -->
      <ng-container matColumnDef="Precio_Inicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Codigo </th>
        <td mat-cell *matCellDef="let row" style="width: 10%;"> {{row.Precio_Inicial}} </td>
      </ng-container><!--  -->

      <!-- Nombre Column -->
      <ng-container matColumnDef="N_Producto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Nombre </th>
        <td mat-cell *matCellDef="let row" style="width: 20%;"> {{row.N_Producto | uppercase }} </td>
      </ng-container>

      <!-- Iva Column -->
      <ng-container matColumnDef="especificaciones">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Especificaciones </th>
        <td mat-cell *matCellDef="let row" style="width: 20%;"> {{row.especificaciones | uppercase }} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align: right"> Acciones </th>
        <td mat-cell *matCellDef="let row; let i = index" align="end">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="asociarAtributos(row.Id_Producto)">
              <span>Atributos</span>
            </button>
            <button mat-menu-item (click)="asociarRubros(row.Id_Producto)">
              <span>Rubros</span>
            </button>
            <button mat-menu-item (click)="asociarIndices(row.Id_Producto)">
              <span>Indices</span>
            </button>
          </mat-menu>
          <button mat-icon-button>
            <mat-icon color="primary" (click)="editarProducto(row)">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarProducto(row.Id_Producto)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</mat-card>