<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/hoja-de-ruta">Listado</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reasignar Hoja de Ruta</li>
  </ol>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="matSpinner" class="efecto"></mat-progress-bar>
<mat-card>
  <div class="row">
    <h4 class="margin-10">Reasignar Hoja de Ruta</h4>
  </div>
  <div *ngIf="dataSource" class="row">
    <div class="col-lg-7">
      <mat-card>
        <div class="row">
					<div class="col-3">
						<mat-form-field>
              <mat-select value="" (selectionChange)="filterByIdHojaDeRuta($event.value)" placeholder="Hoja de Ruta">
                <mat-option *ngFor="let item of lst_hojas_rutas" [value]="item.Id_Hoja_Ruta">
            	    {{item.N_Hoja_Ruta}} <b>{{concatIdHojaRuta(item.Id_Hoja_Ruta)}}</b>
                </mat-option>
              </mat-select>
					  </mat-form-field>
					</div>
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByRubro($event.value)" placeholder="Rubro">
                <mat-option *ngFor="let item of lst_rubros" [value]="item.Id_Rubro">
                  {{item.N_Rubro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByTipoNegocio($event.value)" placeholder="Tipo Negocio">
                <mat-option *ngFor="let item of lst_tipos_negocio_informante" [value]="item.Id_Tipo_Inf">
                  {{item.N_Tipo_Inf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
					<div class="col-3">
						<mat-form-field>
              <mat-select value="" (selectionChange)="filterByEncuestador($event.value)" placeholder="Encuestador">
                <mat-option *ngFor="let item of lst_encuestadores" [value]="item.Id_Usuario">
                    {{item.Apellido | uppercase }} {{ item.Nombre | uppercase }}
                </mat-option>
              </mat-select>
					  </mat-form-field>
					</div>
	      </div>
	      <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByCaptacion($event.value)" placeholder="Captación">
                <mat-option *ngFor="let item of lst_medios_captacion" [value]="item.Id_Medio_Captacion">
                  {{item.N_Medio_Captacion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByBase($event.value)" placeholder="Base">
                <mat-option *ngFor="let item of lst_referencias_base_informante" [value]="item.Id_Origen_Inf">
                  {{item.N_Origen_Inf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
	      </div>
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <agm-map [latitude]="camera.lat" [longitude]="camera.lng" [zoom]="camera_zoom" [zoomControl]="false">

            <!-- Marker Informantes Activos  -->
            <agm-marker *ngFor="let informante of dataSource.filteredData"
              [animation]="informante.animacion"
              [label]='{
	              "text": informante.Id_Hoja_Ruta.toString() ,
	              "fontWeight": "bold",
	              "fontSize": "12px"
	            }'
              [title]="informante.Referencia"
              [latitude]="informante.Latitud"
              [longitude]="informante.Longitud"
              (markerClick)="ubicarInformanteEnLista(informante);"
              [iconUrl]='{"url": informante.Icon.Nombre,"scaledSize": {"height": informante.Icon.Height, "width": informante.Icon.Width}}'>

              <agm-info-window [isOpen]="isInfoWindowOpen(informante.Id_Informante)">
                <p><strong>Nombre:</strong> {{ informante.Referencia }}</p>
                <p><strong>CUIT:</strong> {{ informante.Cuit }}</p>
                <p><strong>Rubro:</strong> {{ informante.RubrosAsignadosNombres }}</p>
                <p><strong>Tipo Negocio:</strong> {{ informante.N_Tipo_Informante }}</p>
                <p><strong>Domicilio:</strong> Pendiente</p>
              </agm-info-window>
            </agm-marker>

            <!-- Marker Informantes A Reasginar -->
            <agm-marker *ngFor="let informante of lst_informantes_a_reasignar"
              [animation]="informante.animacion"
              [label]='{
	              "text": informante.Id_Hoja_Ruta.toString(),
	              "fontWeight": "bold",
	              "fontSize": "12px"
	            }'
              [title]="informante.Referencia"
              [latitude]="informante.Latitud"
              [longitude]="informante.Longitud"
              (markerClick)="ubicarInformanteEnLista(informante);"
              [iconUrl]='{"url": informante.Icon.Nombre,"scaledSize": {"height": informante.Icon.Height, "width": informante.Icon.Width}}'>

              <agm-info-window [isOpen]="isInfoWindowOpen(informante.Id_Informante)">
                <p><strong>Nombre:</strong> {{ informante.Referencia }}</p>
                <p><strong>CUIT:</strong> {{ informante.Cuit }}</p>
                <p><strong>Rubro:</strong> {{ informante.RubrosAsignadosNombres }}</p>
                <p><strong>Tipo Negocio:</strong> {{ informante.N_Tipo_Informante }}</p>
                <p><strong>Domicilio:</strong> Pendiente</p>
              </agm-info-window>
            </agm-marker>

          </agm-map>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-5 col-md-12">
      <mat-tab-group>
        <mat-tab label="Informantes Activos ({{ dataSource.filteredData.length }})">
          <mat-card class="card-informantes">
            <mat-card-content>
               <mat-selection-list class="list-informantes" [(ngModel)]="lst_informantes_seleccionados_a_reasignar"
                #informantes_a_reasignar>
                <div class="row">
                  <div class="col-5">
                    <b class="pad-nombre-titleInform">Nombre</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-captacion-titleInform">HR</b>
                  </div>
                  <div class="col-3" align="">
                    <b class="pad-base-titleInform">Encuestador</b>
                  </div>
                </div>
                <div class="row" *ngFor="let item of dataSource.filteredData">
                  <mat-list-option [value]="item" (click)="ubicarInformanteEnMapa(item)">
                    <div class="row">
                      <div class="col-1">
                        <img [src]="item.Icon.Nombre" width="30" >
                      </div>
                      <div class="col-4 font-informantes">
                      	<b>{{item.Id_Informante}}</b> - {{item.Referencia | uppercase}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Hoja_Ruta}} - <b>{{item.Id_Hoja_Ruta}} - {{item.N_Estado_PL | firstWord}}</b>
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Encuestador}}
                      </div>
                    </div>
                  </mat-list-option>
                </div>
              </mat-selection-list>
              <br>

              <div class="row">
                <div class="col-lg-10 col-sm-12">
                  <span>Informantes Seleccionados: <b> {{informantes_a_reasignar.selectedOptions.selected.length}} </b></span>
                  <br>
                  <span>Informantes a Reasignar: <b>{{lst_informantes_a_reasignar.length}}</b></span>
									<br>
                  <span>Productos a Reasignar: <b>{{cantidad_productos_a_reasignar}}</b></span>
                  <br>
              	</div>
                <div class="col-lg-2 col-sm-12">
                  <button mat-raised-button color="primary" class="float-right" (click)="agregarInformantesAReasignar()">
              			Preparar Seleccionados a Reasignar
                  </button>
                </div>
            	</div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Informantes a Reasignar ({{ lst_informantes_a_reasignar.length }})">
          <mat-card class="card-informantes">
            <mat-card-content>
               <mat-selection-list class="list-informantes" [(ngModel)]="lst_informantes_seleccionados_a_quitar"
                #informantes_a_quitar>
                <div class="row">
                  <div class="col-5">
                    <b class="pad-nombre-titleInform">Nombre</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-captacion-titleInform">HR</b>
                  </div>
                  <div class="col-3" align="">
                    <b class="pad-base-titleInform">Encuestador</b>
                  </div>
                </div>
                <div class="row" *ngFor="let item of lst_informantes_a_reasignar">
                  <mat-list-option [value]="item" (click)="ubicarInformanteEnMapa(item)">
                    <div class="row">
                      <div class="col-1">
                        <img [src]="item.Icon.Nombre" width="30" >
                      </div>
                      <div class="col-4 font-informantes">
                      	<b>{{item.Id_Informante}}</b> - {{item.Referencia | uppercase}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Hoja_Ruta}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Encuestador}}
                      </div>
                    </div>
                  </mat-list-option>
                </div>
              </mat-selection-list>
              <br>
              <div class="row">
                <div class="col-lg-10 col-sm-12">
                  <span>Informantes Seleccionados: <b> {{informantes_a_quitar.selectedOptions.selected.length}} </b></span>
                  <br>
                  <span>Informantes a Reasignar: <b>{{lst_informantes_a_reasignar.length}}</b></span>
									<br>
                  <span>Productos a Reasignar: <b>{{cantidad_productos_a_reasignar}}</b></span>
                  <br>
              	</div>
                <div class="col-lg-2 col-sm-12">
                  <button mat-raised-button color="primary" class="float-right" (click)="quitarInformantesAReasignar()">
                  	Quitar Seleccionados a Reasignar
              		</button>
                </div>
            	</div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <mat-card>
      	<!-- SELECT DE HOJAS DE RUTAS CON OBJETO COMO VALUE -->
      	<div class="row">
        	<div class="col-lg-4 col-sm-12 margin-top-span">
            <span>Hoja de Ruta a Reasignar:</span>
          </div>
          <div class="col-lg-8 col-sm-12">
            <mat-form-field >
              <mat-select placeholder="Hoja de Ruta a Reasignar" (selectionChange)="changeSelectHRaReasignar($event.value)" [(ngModel)]="selectHRaReasignar" >
                <mat-option *ngFor="let item of lst_hojas_rutas_generadas" [value]="item">
            	    {{item.N_HojaDeRuta}} <b>{{concatIdHojaRuta(item.Id_Hoja_Ruta)}}</b>
                </mat-option>
              </mat-select>
					  </mat-form-field>
					    <mat-error *ngIf="!selectHRaReasignar != null && !selectHRaReasignar != ''">
           			Seleccione una Hoja de Ruta
							</mat-error>
          </div>
       </div>
       <div class="row" [hidden]="ocultarDivInputNHojaRuta">
        	<div class="col-lg-4 col-sm-12 margin-top-span">
            <span>Nombre Nueva HR a Reasignar:</span>
          </div>
          <div class="col-lg-8 col-sm-12">
            <mat-form-field>
              <input matInput [(ngModel)]="data_a_reasignar.N_HojaDeRuta" placeholder="Nombre Hoja de Ruta">
            </mat-form-field>
				    <mat-error *ngIf="data_a_reasignar.N_HojaDeRuta === null || data_a_reasignar.N_HojaDeRuta === ''">
         			Ingrese Nombre de Hoja de Ruta
						</mat-error>
          </div>
       </div>
        <mat-card-content>
			    <br>
          <div class="row">
            <div class="col-12"></div>
            	<div class="col-6" align="left">
              <button  mat-flat-button color="primary" class="margin-button" (click)="cancelar()">
                CANCELAR</button>
              </div>
              <div class="col-6" align="right">
              <button [disabled]="lst_informantes_a_reasignar.length === 0 || !selectHRaReasignar || (!ocultarDivInputNHojaRuta && data_a_reasignar.N_HojaDeRuta === '' || data_a_reasignar.N_HojaDeRuta === null)"
                mat-flat-button color="primary"
                (click)="confirmarGuardar()">
                GUARDAR
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
