<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/hoja-de-ruta">Listado</a></li>
    <li class="breadcrumb-item active" aria-current="page">Hoja de Ruta</li>
  </ol>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="matSpinner" class="efecto"></mat-progress-bar>
<mat-card>
  <div class="row">
    <h4 class="margin-10">NUEVA HOJA DE RUTA - N° {{ nueva_HojaDeRuta_Numero }}</h4>
  </div>
  <div *ngIf="dataSource" class="row">
    <div class="col-lg-7">
      <mat-card style="margin-left: 10px;">

        <div class="row">
<!--           <div class="col-3">
            <mat-form-field>
              <input matInput (keyup)="filterByCUIT($event.target.value)" placeholder="CUIT/CUIL">
            </mat-form-field>
          </div> -->
          <div class="col-3">
            <mat-form-field>
              <input matInput (keyup)="filterByRazon_social($event.target.value)" placeholder="Nombre">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput (keyup)="filterByDomicilio($event.target.value)" placeholder="Domicilio">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByRubro($event.value)" placeholder="Rubro">
                <mat-option *ngFor="let item of lst_rubros" [value]="item.Id_Rubro">
                  {{item.N_Rubro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByTipoNegocio($event.value)" placeholder="Tipo Negocio">
                <mat-option *ngFor="let item of lst_tipos_negocio_informante" [value]="item.Id_Tipo_Inf">
                  {{item.N_Tipo_Inf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByBase($event.value)" placeholder="Base">
                <mat-option *ngFor="let item of lst_referencias_base_informante" [value]="item.Id_Origen_Inf">
                  {{item.N_Origen_Inf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
<!--           <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByEstado($event.value)" placeholder="Estado">
                <mat-option *ngFor="let item of lst_estados_informante" [value]="item.Id_Estado_Inf">
                  {{item.N_Estado_Inf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div class="col-3">
            <mat-form-field>
              <mat-select value="" (selectionChange)="filterByCaptacion($event.value)" placeholder="Captación">
                <mat-option *ngFor="let item of lst_medios_captacion" [value]="item.Id_Medio_Captacion">
                  {{item.N_Medio_Captacion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <agm-map [latitude]="camera.lat" [longitude]="camera.lng" [zoom]="camera_zoom" [zoomControl]="false">

            <!-- Marker Informantes  -->
            <agm-marker *ngFor="let informante of dataSource.filteredData"
              [animation]="informante.animacion"
              [title]="informante.Referencia"
              [latitude]="informante.Latitud"
              [longitude]="informante.Longitud"
              (markerClick)="ubicarInformanteEnLista(informante);"
              [iconUrl]='{"url": "../../../assets/img/icons/PSA.png","scaledSize": {"height": 40, "width": 40}}'>

              <agm-info-window [isOpen]="isInfoWindowOpen(informante.Id_Informante)">
                <p><strong>Nombre:</strong> {{ informante.Referencia }}</p>
                <p><strong>CUIT:</strong> {{ informante.Cuit }}</p>
                <p><strong>Rubro:</strong> {{ informante.RubrosAsignadosNombres }}</p>
                <p><strong>Tipo Negocio:</strong> {{ informante.N_Tipo_Informante }}</p>
                <p><strong>Domicilio:</strong> Pendiente</p>
              </agm-info-window>
            </agm-marker>

            <!-- Marker Informantes Asignados -->
            <agm-marker *ngFor="let informante of lst_informantes_asignados"
              [animation]="informante.animacion"
              [title]="informante.Referencia"
              [latitude]="informante.Latitud"
              [longitude]="informante.Longitud"
              (markerClick)="ubicarInformanteEnLista(informante);"
              [iconUrl]='{"url": "../../../assets/img/icons/Check.png","scaledSize": {"height": 40, "width": 32}}'>

              <agm-info-window [isOpen]="isInfoWindowOpen(informante.Id_Informante)">
                <p><strong>Nombre:</strong> {{ informante.Referencia }}</p>
                <p><strong>CUIT:</strong> {{ informante.Cuit }}</p>
                <p><strong>Rubro:</strong> {{ informante.RubrosAsignadosNombres  }}</p>
                <p><strong>Tipo Negocio:</strong> {{ informante.N_Tipo_Informante  }}</p>
                <p><strong>Domicilio:</strong> Pendiente</p>
              </agm-info-window>
            </agm-marker>

          </agm-map>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-5 col-md-12">
      <mat-tab-group>
        <mat-tab label="Informantes Inactivos ({{ dataSource.filteredData.length }})">
          <mat-card class="card-informantes">
            <mat-card-content>
              <mat-selection-list class="list-informantes" [(ngModel)]="lst_asignar"
                #informantes_inactivos>
                <div class="row">
                  <div class="col-5">
                    <b class="pad-nombre-titleInform">Nombre</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-captacion-titleInform">Captación</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-base-titleInform">Base</b>
                  </div>
                </div>
                <div class="row" *ngFor="let item of dataSource.filteredData">
                  <mat-list-option focus="true" [value]="item" (click)="ubicarInformanteEnMapa(item);">
                    <div class="row">
                      <div class="col-1">
                          <mat-icon>room</mat-icon>
                      </div>
                      <div class="col-4 font-informantes">
                        {{item.Referencia | uppercase}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Medio_Captacion}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Base}}
                      </div>
                    </div>
                  </mat-list-option>
                </div>
              </mat-selection-list>
              <br>
              <div class="row">
                <div class="col-10">
                  <span>Seleccionados: <b>{{informantes_inactivos.selectedOptions.selected.length}}</b></span>
                  <br>
                  <span>Productos Asignados: <b>{{cantidad_productos_asignados}}</b></span>
                </div>
                <div class="col-2">
                  <button style="margin-top:5px;" [disabled]="informantes_inactivos.selectedOptions.selected.length === 0"
                    mat-raised-button color="primary" class="float-right" (click)="asignarInformantes()">Asignar
                    Seleccionados</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Informantes de esta HR ({{ lst_informantes_asignados.length }})">
          <mat-card class="card-informantes">
            <mat-card-content>
              <mat-selection-list class="list-informantes" [(ngModel)]="lst_desasignar"
                #informantes_asignados>
                <div class="row">
                  <div class="col-5">
                    <b class="pad-nombre-titleInform">Nombre</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-captacion-titleInform">Captación</b>
                  </div>
                  <div class="col-3" align="center">
                    <b class="pad-base-titleInform">Base</b>
                  </div>
                </div>
                <div class="row" *ngFor="let item of lst_informantes_asignados">
                  <mat-list-option [value]="item" (click)="ubicarInformanteEnMapa(item)">
                    <div class="row">
                      <div class="col-1">
                        <img src="../../../assets/img/icons/Check.png" width="17">
                      </div>
                      <div class="col-4 font-informantes">
                        {{item.Referencia | uppercase}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Medio_Captacion}}
                      </div>
                      <div class="col-3 font-informantes" align="center">
                        {{item.N_Base}}
                      </div>
                    </div>
                  </mat-list-option>
                </div>
              </mat-selection-list>
              <br>
              <div class="row">
                <div class="col-10">
                  <span>Seleccionados: <b>{{informantes_asignados.selectedOptions.selected.length}}</b></span>
                  <br>
                  <span>Productos Asignados: <b>{{cantidad_productos_asignados}}</b></span>
                </div>
                <div class="col-2">
                  <button style="margin-top:5px;" [disabled]="informantes_asignados.selectedOptions.selected.length === 0"
                    mat-raised-button color="primary" class="float-right" (click)="desasignarInformantes()">Desasignar
                    Seleccionados</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>

      <mat-card style="margin: 2px; margin-top: 10px">
        <mat-card-content>
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <input matInput [(ngModel)]="nueva_hoja_ruta.N_HojaDeRuta" placeholder="Nombre Hoja Ruta">
              </mat-form-field>
              <mat-error *ngIf="!nueva_hoja_ruta.N_HojaDeRuta != null && !nueva_hoja_ruta.N_HojaDeRuta != ''">
                  Ingrese Nombre Hoja de Ruta
               </mat-error>
            </div>
            <div class="col-8">
              <mat-form-field>
                <mat-select [(ngModel)]="nueva_hoja_ruta.Id_Encuestador" value="0" placeholder="Encuestador">
                  <mat-option *ngFor="let tipo of lst_encuestadores" [value]="tipo.Id_Usuario">
                    {{tipo.Apellido | uppercase }} {{ tipo.Nombre | uppercase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <mat-form-field>
                <input matInput [matDatepickerFilter]="myFilter" [(ngModel)]="nueva_hoja_ruta.fecha" [matDatepicker]="dp3" placeholder="Fecha" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
              <button mat-flat-button color="primary" (click)="cancelar()">
                CANCELAR</button>
            </div>
            <div class="col-3">
              <button [disabled]="lst_informantes_asignados.length === 0 || nueva_hoja_ruta.N_HojaDeRuta === '' || nueva_hoja_ruta.N_HojaDeRuta === null" mat-flat-button color="primary" (click)="confirmarHojaDeRuta()">
                GENERAR</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-card>
