<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../../assets/img/background-login2.jpg)">
  <div align="center">
      <div class="card-body col-lg-3 col-md-8 col-sm-12 col-xs-12" style="margin-top:10%" align="center">
        <h4 class="text-white">Iniciar Sesión <br> AdminCoop - Barranca Yaco</h4>
          <form [formGroup]="formulario" (keyup.enter)="loginUsuario(formulario)" class="form-horizontal form-material">
              <a href="javascript:void(0)" class="text-center db"><br/><br/></a>
              <div class="form-group m-t-40">
                  <div class="col-xs-12">
                      <input class="form-control" autofocus  formControlName="username" type="text" required="" placeholder="Usuario">
                  </div>

                  <div *ngIf="formulario.controls.username.errors" focused class="col-12">
                    <b class="text-danger">Ingrese un usuario</b>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-xs-12">
                      <input class="form-control" formControlName="password" type="password" required="" placeholder="Contraseña">
                  </div>
                  <div *ngIf="formulario.controls.password.errors" class="col-12">
                    <b class="text-danger">Ingrese un password</b>
                  </div>
              </div>
              <div class="form-group text-center m-t-20">
                  <div class="col-xs-12">
                      <button class="btn btn-success btn-lg btn-block text-uppercase btn-rounded" type="button" (click)="loginUsuario(formulario)">Ingresar</button>
                  </div>
              </div>
              <mat-progress-bar mode="indeterminate" *ngIf="matSpinner" class="efecto"></mat-progress-bar>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                      <div class="social">
                          <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                          <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                      </div>
                  </div>
              </div>
          </form>
          <!-- <form class="form-horizontal" id="recoverform" action="index.html">
              <div class="form-group ">
                  <div class="col-xs-12">
                      <h3>Recuperar contraseña</h3>
                      <p class="text-muted">Escriba su correo electrónico y siga los pasos </p>
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" required="" placeholder="Email">
                  </div>
              </div>
              <div class="form-group text-center m-t-20">
                  <div class="col-xs-12">
                      <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                  </div>
              </div>
          </form> -->
      </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
