<h1 mat-dialog-title> {{ data.titulo }}</h1>
<div mat-dialog-content>
  {{ data.texto }}
</div>
<br>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="'NO'">No</button>
  <button mat-button [mat-dialog-close]="'SI'">Si</button>
</div>