<h3>
  Ver Calendarización
  <mat-spinner class="float-right" [diameter]="30" *ngIf="matSpinner"></mat-spinner>
</h3>
<mat-divider></mat-divider>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Encuestador</th>
      <th class="sizeTable" *ngFor="let fecha of fechas1">{{ fecha | date:'EE d MMM' }} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuestador of encuestadores">
      <td>{{ encuestador.N_Encuestador }}</td>
      <td *ngFor="let hojaDeRuta of encuestador.listHoja">
        {{ hojaDeRuta.N_HojaDeRuta }}
      </td>
    </tr>
  </tbody>
</table>

<mat-divider></mat-divider>
<br>
<div style="float: right;">
  <button mat-button (click)="cerrar()" align="end">Cerrar</button>
</div>