agm-map {
    height: 610px;
  }
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-spacer {
  flex: 1 1 auto;
}
.margin-10 {
margin-right: 10px;
margin-left: 13px;
}

.font-informantes{
  font-size:12px;
}

.pad-nombre-titleInform{
  padding-left: 58px;
}

.pad-captacion-titleInform{
  padding-right: 37.5px;
}

.pad-base-titleInform{
  padding-right: 75px;
}

.list-informantes{
  height:464.365px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.card-informantes{
  margin: 2px;
  margin-top:-10px;
}

mat-list-option:focus {
  background: rgba(168, 193, 204, 0.7);
}

mat-list-option:hover {
  background: rgba(168, 193, 204, 0.7);
}
