<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listado</li>
  </ol>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="matSpinner" class="efecto"></mat-progress-bar>
<mat-card>
  <!-- {{ prueba | number: '2.0'}} -->
  <div class="row">
    <h4 class="margin-10">Hoja de Ruta</h4>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field>
        <mat-select placeholder="Seleccione mes y año" [value]="periodoActual">
          <mat-option *ngFor="let mes of mesesAnios" [value]="mes.FechaDisplay" (click)=obtenerListadoHRByMesAnio(mes.Fecha_String)>
            {{(mes.FechaDisplay )}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-9">
          <mat-form-field>
            <input matInput [matDatepicker]="dp3" placeholder="Fecha" (dateChange)="changeDate($event)" [(ngModel)]="datepicker">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <div style="text-align: right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="generarHojaDeRuta()">
                <span>Generar</span>
              </button>

              <button mat-menu-item routerLink="/reasignar-hoja-de-ruta">
                <span>Reasignar</span>
              </button>
              <button mat-menu-item routerLink="/nueva-hoja-ruta">
                <span>Crear</span>
              </button>
              <button mat-menu-item (click)="verCalendarizacion()">
                <span>Ver Calendarizacion</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSortActive="Id_Hoja_Ruta" matSortDirection="asc" matSort>

          <ng-container matColumnDef="Id_Hoja_Ruta">
            <mat-header-cell class="col-1" mat-sort-header *matHeaderCellDef> Hoja de Ruta </mat-header-cell>
            <mat-cell class="col-1" *matCellDef="let element"> {{element.Id_Hoja_Ruta}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="N_Nombre">
            <mat-header-cell class="col-2" mat-sort-header *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell class="col-2" *matCellDef="let element"> {{ element.N_HojaDeRuta }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="C_Informantes">
            <mat-header-cell class="col-1" mat-sort-header *matHeaderCellDef> Cant Informantes </mat-header-cell>
            <mat-cell class="col-1" *matCellDef="let element"> {{ element.C_Informantes }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="C_Productos">
            <mat-header-cell class="col-1" mat-sort-header *matHeaderCellDef> Cant Productos </mat-header-cell>
            <mat-cell class="col-1" *matCellDef="let element"> {{ element.C_Productos }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="N_Encuestador">
            <mat-header-cell class="col-2" mat-sort-header *matHeaderCellDef> Encuestador</mat-header-cell>
            <mat-cell class="col-2" *matCellDef="let element"> {{ element.N_Encuestador }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell class="col-2" mat-sort-header *matHeaderCellDef> Fecha</mat-header-cell>
            <mat-cell class="col-2" *matCellDef="let element"> {{element.fecha | date:'mediumDate'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Estado">
            <mat-header-cell class="col-1" mat-sort-header *matHeaderCellDef> Estado Asignacion</mat-header-cell>
            <mat-cell class="col-1" *matCellDef="let element">
              {{element.Estado }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones" align="end">
            <mat-header-cell class="col-2" mat-sort-header *matHeaderCellDef style=" display:flex; justify-content:flex-end;">
              Acciones</mat-header-cell>
            <mat-cell class="col-2" *matCellDef="let element" style=" display:flex; justify-content:flex-end;">
              <i class="material-icons"></i>
              <button mat-icon-button title="Reasignar" (click)="reasignarEncuestador(element)">
                <mat-icon color="secondary">reply</mat-icon>
              </button>
              <button title="{{ element.Estado === 'AGENDADO' ? 'Ver' : 'Editar' }}" mat-icon-button class="editar"
                routerLink="/modificar-hoja-ruta/{{ element.Id_Planificacion }}">
                <mat-icon color="primary">{{element.Estado === 'AGENDADO' ? 'search' : 'edit'}}</mat-icon>
              </button>
              <button title="Eliminar" [disabled]="(element.Estado === 'AGENDADO' || element.Tiene_Planif_Ant > 0)" mat-icon-button (click)="confirmarEliminarHojaRutaEInformantes(element.Id_Planificacion)">
                <mat-icon [color]="(element.Estado === 'AGENDADO' || element.Tiene_Planif_Ant > 0) ? 'default' : 'warn'">delete</mat-icon>
              </button>
              <mat-checkbox style="margin-top: 10px" (change)="cargarSeleccion(element,$event.checked)" [disabled]="element.Estado==='AGENDADO'"></mat-checkbox>
            </mat-cell>
            <!--    [disabled]="row.Estado === 'AGENDADO'" -->
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
      <br>
      <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack()">VER SNACK
        </button>
        <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack1()">VER SNACK 1
        </button>
        <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack2()">VER SNACK 2
        </button>
        <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack3()">VER SNACK 3
        </button>
        <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack4()">VER SNACK 4
        </button>
        <button mat-raised-button color="primary" class="margin-10" class="float-right"
        (click)="openSnack5()">VER SNACK 5
        </button>
      <br>
      <br>
    </div>
    <div class="col-lg-3">
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

        <ng-container matColumnDef="N_Encuestador">
          <th mat-header-cell *matHeaderCellDef> Encuestador </th>
          <td mat-cell *matCellDef="let element"> {{element.N_Encuestador}} </td>
        </ng-container>

        <ng-container matColumnDef="C_Informantes">
          <th mat-header-cell *matHeaderCellDef> Cant Inf </th>
          <td mat-cell *matCellDef="let element"> {{element.C_Informantes}} </td>
        </ng-container>

        <ng-container matColumnDef="C_Productos">
          <th mat-header-cell *matHeaderCellDef> Cant Prod </th>
          <td mat-cell *matCellDef="let element"> {{element.C_Productos}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
      <br>
    </div>
  </div>
</mat-card>
