<h3 *ngIf="!producto.Id_Producto">
  Nuevo Producto
</h3>
<h3 *ngIf="producto.Id_Producto">
  Editar Producto 
</h3>
<mat-divider></mat-divider>
<br>


<form [formGroup]="myForm" novalidate>
    <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%">
            <input matInput placeholder="Codigo del Producto" formControlName="codigo">
          </mat-form-field>

       <!--    <mat-error *ngIf="codigo.hasError('required')">
            CUIT/CUIL es <strong>obligatorio</strong>
          </mat-error> -->
         <!--  <div *ngIf="myForm.get('codigo').errors && myForm.get('codigo').dirty">
              <p class="alert alert-danger" *ngIf="myForm.get('codigo').hasError('required')">Este campo es requerido</p>
          </div> -->
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%">
            <input matInput placeholder="Nombre del Producto" formControlName="nombre">
          </mat-form-field>
          <div *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
              <p class="alert alert-danger" *ngIf="myForm.get('nombre').hasError('required')">Este campo es requerido</p>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <mat-form-field class="example-full-width" style="width: 100%">
            <textarea matInput placeholder="Especificaciones" formControlName="especificaciones"></textarea>
          </mat-form-field>
          <div *ngIf="myForm.get('especificaciones').errors && myForm.get('especificaciones').dirty">
              <p class="alert alert-danger" *ngIf="myForm.get('especificaciones').hasError('required')">Este campo es requerido</p>
          </div>
        </div>
      </div>
      <br>
      
      <br>
      <mat-divider></mat-divider>
      <br>
      <div style="float: right;">
        <button mat-raised-button color="primary" class="margin-10 " style="margin-right: 5px" [mat-dialog-close]="this.myForm.value" [disabled]="myForm.invalid">Aceptar </button>
        <button mat-button (click)="cerrar()" align="end">Cerrar</button>
      </div>
</form>