<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inicio</li>
  </ol>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="text-align: center">Bienvenidos!</h1>
      <p class="lead" style="text-align: center">¿A dónde desea ingresar?</p>
      <br>
       <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/informantes">Informantes</button>
      <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/productos">Productos</button>
      <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/usuarios">Usuarios</button>
      <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/atributos">Atributos</button> 
      <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/rubros">Rubros</button> 
      
    </div>
  </div>
                    

      