<app-navbar></app-navbar>
<router-outlet></router-outlet>
<mat-card>
  <div align="center">
    <h1>ERROR 404 NOT FOUND</h1>
    <br>
    <h4>La página que solicita acceder no se encuentra disponible</h4>
    <br>
  </div>
</mat-card>
