<h3>
  Reasignar Encuestador
   <mat-spinner class="float-right" [diameter]="30" *ngIf="matSpinner"></mat-spinner>
</h3>

<mat-divider></mat-divider>

<br>
<div class="row">
  <div class="col-4" align="center">
    <h6> <b>Hoja de Ruta: </b> {{ hojaDeRuta.N_HojaDeRuta }} </h6>
  </div>
  <div class="col-4" align="center">
    <h6> <b>Cant Inf: </b> {{ hojaDeRuta.C_Informantes }} </h6>
  </div>
  <div class="col-4" align="center">
    <h6> <b>Cant Prod: </b> {{ hojaDeRuta.C_Productos }} </h6>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div class="row">
  <div class="col-6" align="center">
    <mat-form-field class="col-12">
      <mat-select value="0" placeholder="Encuestador" [(ngModel)]="hojaDeRuta.Id_Encuestador">
        <mat-option *ngFor="let tipo of lst_encuestadores" [value]="tipo.Id_Usuario">
          {{tipo.Apellido | uppercase }} {{ tipo.Nombre | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6" align="center">
    <mat-form-field class="col-12">
      <input matInput [matDatepicker]="dp3" placeholder="Fecha" disabled [(ngModel)]="hojaDeRuta.fecha">
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>
<br>

<div class="row">
  <div class=""></div>
  <div class="col-12" align="right">
      <button mat-raised-button color="primary" [disabled]="!hojaDeRuta.fecha || !hojaDeRuta.Id_Encuestador" class="margin-button"(click)="aceptar()">Aceptar</button>
      <button mat-button (click)="cerrar()" align="end">Cerrar</button>
  </div>
</div>
