/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.efecto {
    margin-top: -17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.example-spacer {
    flex: 1 1 auto;
}
*:focus {
    outline: none !important;
    border: 0 !important;
}

.primary-snackbar {
  background: #007bff ;
  font-weight: bold;
}

.success-snackbar {
  background: #28a745;
  font-weight: bold;
}

.danger-snackbar {
  background: #dc3545;
  font-weight: bold;
}

.info-snackbar {
  background: #17a2b8;
  font-weight: bold;
}

.warning-snackbar {
  background: #ffc107;
  font-weight: bold;
  color: #343a40;
}

.light-snackbar {
  color: #f8f9fa;
  background: #343a40;
  font-weight: bold;
  text-align: center;
}
